<div class="container">
<div class="card">
<div class="card-body">
<div class="my-3 scroll">
    <%@faceposts.each do |post|%>
    <div class="card my-3">
    <div class="card-body my-3">
    <%=post.post%>
    <%=post.user_id%>
    <%if current_user.id==  post.user_id%>
    <%=link_to "edit",edit_facepost_path(post)%>     
    <%= link_to "delete",post, method: :delete, data:{confirm:"Are you sure to delete this post"}%>
    <%end%>
     <%=link_to "like",facepost_create_path(post),method: :put%>
     <%=post.likes.count%>
    </div>
    
    <%=link_to "Comment",new_facepost_comment_path(post)%>
     
    
   
    
     <%Comment.all.each do |comment|%>
     <%if (comment.facepost_id)==(post.id)%>
     <%# <%=post.id%> 
     <p class="mx-3">
     <b><%=comment.user.name%>:</b> <%=comment.comment%>    
     <%# <%=link_to "like",facepost_create_path(comment),method: :put%>
    </p>
   
    <% end %>
    <%end%>
     </div>
    <%end%>
</div>
</div>
</div></div>