<p id="notice"><%= notice %></p>

<h1>Faceposts</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faceposts.each do |facepost| %>
      <tr>
        <td><%= facepost.post %></td>
        <td><%= link_to 'Show', facepost %></td>
        <td><%= link_to 'Edit', edit_facepost_path(facepost) %></td>
        <td><%= link_to 'Destroy', facepost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facepost', new_facepost_path %>
